$dark_green: #274001;
$green: #4f7302;
$light_green: #81be25;
$light: #edf2c2;
$brown: #594c3c;

* {
  margin: 0;
  padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

body {
  text-align: center;
}

nav {
  background-color: $light;
}


#banner-section {
  background-color: $brown;
  padding-top: 1%;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.banner-title {
  font-size: 65px;
  font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
  color: $light_green;
  padding-top: 2%;
  padding-bottom: 2%;
}

.banner-body {
  color: #42425a;
  font-size: 1.125rem;
  font-family: Inter, X-LocaleSpecific, sans-serif;
}

.banner-cell {
  padding: 10%;
  font-size: 23px;
  color: $light;
  font-family: Inter, X-LocaleSpecific, sans-serif;
}

#partners-section {
  text-align: center;
  background-color: white;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}

.partners-title {
  font-size: 55px;
  font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
  color: $brown;
}

.partners-cell {
  min-width: 30%;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 1%;
}

footer {
  background-color: $brown;
}

.footer-content {
  color: white;
  margin: 5%;
  font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
  font-size: 100%;
  display: inline-flex;
  align-items: center;
  grid-gap: 4%;
}

@media screen and (max-width: 1200px) {
  .banner-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .partners-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .partners-title {
    font-size: 500%;
    font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
    padding: 5%;
  }

  .partners-cell {
    min-width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .banner-title {
    font-size: 600%;
    font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
    color: $light_green;
    padding: 10%;
  }

  .banner-cell {
    font-size: 220%;
    color: $light;
    font-family: Inter, X-LocaleSpecific, sans-serif;
  }
}
